
/*###############################
               HOME
###############################*/

h1, h2 {
	text-align: center;
	font-family: arial;
	margin: 10px auto;
	
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
	margin-bottom: 40px;
}



.navbar .navbar-nav{
	display: inline-block;
	float: none;
	margin-bottom: -10px;
}

.navbar .navbar-collapse{
	text-align: center;
}

.navbar.navbar-default{
	background-color: transparent;
	border: none;
	box-shadow: none;
	background-image: none;
	background-color: #d1c2bb;
	padding-bottom: 0;
}

#menu-menu-2 {
	border-top: 1px solid black; 
	border-bottom: 1px solid black; 
	text-align: center;
	margin-bottom: 20px; 
}

#menu-menu-2 li {
	display: inline-block;
	line-height: 50px;
}

article img {
	display: block;
	margin: 20px auto;
}

.legend {
	text-align: center;
}