
/*###############################
               HOME
###############################*/

body {
	background-image: $halftone;
}

h1, h2 {
	text-align: center;
	font-family: arial;
	margin: 10px auto;
	
}

h1 {
	font-size: 3rem;
	color: $red;

	&:hover {
		opacity: 0.7;
	}
}

h2 {
	font-size: 2rem;
	margin-bottom: 40px;
	color: $blue;

	&:hover {
		opacity: 0.7;
	}
}



.navbar .navbar-nav{
	display: inline-block;
	float: none;
	margin-bottom: -10px;
}

.navbar .navbar-collapse{
	text-align: center;
}

.navbar.navbar-default{
	background-color: transparent;
	border: none;
	box-shadow: none;
	background-image: none;
	background-color: $blue;
	padding-bottom: 0;
}

.navbar-default .navbar-nav li a {
	color: $red;
	text-shadow: none;

	&:hover {
		color: $red;
		opacity: 0.8;
	}
}

#menu-menu-2 {
	text-align: center;
	margin-bottom: 20px;
	background-color: $red;
	border-radius: 5px; 
}

#menu-menu-2 li {
	display: inline-block;
	padding: 0 20px;
	line-height: 40px;

	& a {
		color: $blue;
	}

	& a:hover {
		opacity: 0.7;
	}
}



article img {
	display: block;
	margin: 20px auto;
}

.legend {
	text-align: center;
}