// Regroupe mes grandes variables

// Palette
$blue:        #0D3E58;
$blue-header: #000000;
$beige:       #F3EDD6;
$red:         #DA6260;

// Fonts

$arial: Arial, sans-serif;
$raleway:	'Raleway', sans-serif;

// Patterns
$congruent: url(scss/congruent_pentagon.png);
$skulls: url(scss/skulls.png);
$halftone: url(scss/halftone.png);